h1{
    color:rgb(8, 20, 20);
    
    text-align: center;
}
h2{
    background-color: rgb(45, 143, 182);
    text-align: center;
    color:black;

}
    
    
p{
    color: black;
    text-align: center;
    text-shadow: greenyellow;     
    font-size: 25px;
    background-color: rgb(96, 155, 211);
        

}

a{
    text-align: center;
    font-size:30px;
    color:rgb(15, 22, 22);
}

.div{
    width: 700px;
    height: 200px;
    background-color: rgb(28, 150, 144);
    border: 3px solid black;
    border-radius: 10px;
}

.div2{
    width: 700px;
    height:500px;
    border: 3px solid black;
    border-radius: 10px; 
}
