.main{
    background-color: black;
    width: 400px;
    height: 400px;
    transition: 2s all ease;
}
.main:hover{
    background-color: rgb(168, 69, 52);
    width: 600px;
    transform: translate(100px,60px);
}


.drugi{
    background-color: black;
    width: 400px;
    height: 400px;
    transition: 2s all ease;
}
.drugi:hover{
    transform: rotate(-90deg);
    transform: translate();
    transform: scale();
    transform: skew();
   
    background-color: rgb(168, 69, 52);
}