.prvi{
    display: inline-block;
    padding-bottom: 15px;
}
.drugi{
display: block;
padding-bottom: 15px;
}
.glavni{
    display: inline-block;
    margin-left: 30rem;
   
}
.mess{
    display: block;
}
h1{
    text-align: center;
}
button{
    width: 100px;
    height: 40px;
    background-color: rgb(167, 100, 230);
margin-left: 200px;
}
form{
    margin: auto;
}
textarea{
    width: 100%;
}