body{
    margin:none;
    padding: none;

}

.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px auto auto;
    grid-template-rows: auto auto auto;
    border: 2px solid rgb(20, 137, 233);
    gap: 10px;

}
.box{
    
    

}
header{
    grid-column: 1 / 4;
    border: 2px solid rgb(20, 137, 233);
}
nav{
    grid-row: 2/5;
    border: 2px solid rgb(20, 137, 233);
}
main{
    grid-row: 2/5;
    border: 2px solid rgb(20, 137, 233);
}
aside{
    grid-row: 2/5;
    border: 2px solid rgb(20, 137, 233);
}
footer{
    grid-column: 1 / 4;
    border: 2px solid rgb(20, 137, 233);
}

