tr,th,td{
    border: 1px solid lightgray;
    padding: 15px;
}
table{
    border: 1px solid lightgray;
    padding:0px;
    border-collapse: collapse;
}
.sivi{
    background-color: lightgray;
}
tr:nth-child(even){
    background-color: lightgray;
}
td:hover{
    background-color: lightgreen;
   font-weight: bold;
}